<nz-layout class="layout">
  <nz-header class="theme-header-1">
    <div class="theme-header-logo">
      <a [routerLink]="['/dev-center']"><img src="assets/imgs/logo/logo.png" style="width: 160px;"></a>
    </div>
    <ul nz-menu [nzMode]="'horizontal'" style="line-height: 64px;">
      <li class="f-s-18">微平台 · 服务中心</li>
    </ul>
  </nz-header>

  <nz-layout style="background-color: #ffffff;padding: 1%;">
    <nz-content *ngIf="service">

      <nz-row [nzGutter]="16" style="margin: 30px 0px;">
        <nz-col [nzSpan]="6"></nz-col>
        <nz-col [nzSpan]="6" class="service-statistic text-center">
          <nz-statistic [nzValueTemplate]="serviceValue" [nzTitle]="serviceTitle"
                        [nzPrefix]="servicePrefix"></nz-statistic>
          <ng-template #serviceTitle><span class="f-s-22" [class.active]="type === 'service'">服务总数</span></ng-template>
          <ng-template #servicePrefix>
            <i nz-icon type="clock-circle" theme="outline" class="m-r-20 f-s-28"></i>
          </ng-template>
          <ng-template #serviceValue>
            {{service.serviceSize}}
            <div class="f-s-14">
              <small>已注册服务：<span class="">{{service.registerServiceSize}}</span></small>
            </div>
            <div class="f-s-14">
              <small>未注册服务：<span class="">{{service.serviceSize - service.registerServiceSize}}</span></small>
            </div>
          </ng-template>
        </nz-col>
        <nz-col [nzSpan]="6" class="service-statistic text-center">
          <nz-statistic [nzValueTemplate]="instancesValue" [nzTitle]="instanceTitle"
                        [nzPrefix]="instancePrefix"></nz-statistic>
          <ng-template #instanceTitle><span class="f-s-22" [class.active]="type === 'instance'">实例总数</span>
          </ng-template>
          <ng-template #instancePrefix>
            <i nz-icon type="dashboard" theme="outline" class="m-r-20 f-s-28"></i>
          </ng-template>
          <ng-template #instancesValue>
            {{service.instanceSize}}
            <div class="f-s-14">
              <small>已加入监控：<span class="">{{service.monitorInstanceSize}}</span></small>
            </div>
            <div class="f-s-14">
              <small>未加入监控：<span class="">{{service.instanceSize - service.monitorInstanceSize}}</span></small>
            </div>
          </ng-template>
        </nz-col>
      </nz-row>

      <section class="text-center">
        <nz-radio-group [(ngModel)]="type" [nzSize]="'large'" (ngModelChange)="onChangeType($event)">
          <label nz-radio-button nzValue="service" style="min-width: 100px;">服务</label>
          <label nz-radio-button nzValue="instance" style="min-width: 100px;">实例</label>
        </nz-radio-group>
      </section>


      <section class="hidden" [class.show]="type === 'service'">
        <nz-table #servicesTable [nzData]="service.services" [nzLoading]="service.serviceLoading"
                  [nzTitle]="servicesTableTitle">
          <ng-template #servicesTableTitle>
            <div class="text-right m-r-10">
            <span class="f-s-16 cursor-pointer text-primary" (click)="clickRefreshServiceInfos()">
              <i nz-icon type="reload" theme="outline" class="m-r-10"></i>刷新</span>
            </div>
          </ng-template>
          <thead>
          <tr>
            <th>服务名称</th>
            <th>服务备注</th>
            <th>创建人</th>
            <th>消息通知人</th>
            <th>是否注册</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of servicesTable.data; index as i">
            <td>{{item.name}}</td>
            <td>{{item?.comment}}</td>
            <td>{{item?.createdBy}}</td>
            <td>{{item?.serviceOwner}}</td>
            <td>{{item?.isRegister ? '是':'否'}}</td>
          </tr>
          </tbody>
        </nz-table>
      </section>

      <section class="hidden" [class.show]="type === 'instance'">
        <nz-table #instancesTable [nzData]="service.instances" [nzTitle]="instancesTableTitle"
                  [nzLoading]="service.instanceLoading">
          <ng-template #instancesTableTitle>
            <div class="text-right m-r-10">
            <span class="f-s-16 cursor-pointer text-primary" (click)="clickRefreshServiceInstances()">
              <i nz-icon type="reload" theme="outline" class="m-r-10"></i>刷新</span>
            </div>
          </ng-template>
          <thead>
          <tr>
            <th>服务名称</th>
            <th>服务备注</th>
            <th>服务路径</th>
            <th>最近续约</th>
            <th>启动时间</th>
            <th>状态</th>
            <th>是否加入监控</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of instancesTable.data; index as i">
            <td>{{item?.serviceName}}</td>
            <td>{{item?.serviceComment}}</td>
            <td>{{item?.homePageUrl}}</td>
            <td>{{item?.leaseInfo.lastRenewalTimestamp | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{item?.leaseInfo.serviceUpTimestamp | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{item?.status}}</td>
            <td>{{item?.isMonitor ? '是':'否'}}</td>
            <td>
              <span class="m-r-15 text-primary cursor-pointer" nz-tooltip nzTitle="刷新配置"
                    (click)="clickRefreshServiceInstanceConfig(item)">刷新配置</span>
              <span class="m-r-15 text-muted cursor-pointer" nz-tooltip nzTitle="上线"
                    (click)="clickUpServiceinstance()">上线</span>
              <span class="m-r-15 text-muted cursor-pointer" nz-tooltip nzTitle="下线"
                    (click)="clickDownServiceinstance()">下线</span>
            </td>
          </tr>
          </tbody>
        </nz-table>
      </section>

    </nz-content>
  </nz-layout>

</nz-layout>


<nz-modal
  [(nzVisible)]="config.visible"
  nzTitle="刷新配置"
  [nzOkText]="config.nzOkText"
  (nzOnCancel)="closeServiceInstanceConfig()"
  (nzOnOk)="clickServiceInstanceConfigOK()"
  [nzOkLoading]="config.isOkLoading" *ngIf="config">
  <nz-divider nzText="服务名称" nzOrientation="left" [nzDashed]="true"></nz-divider>
  <p style="margin-right: 30px;">{{ service.selecedInstance?.serviceName}}</p>
  <nz-divider nzText="服务路径" nzOrientation="left" [nzDashed]="true"></nz-divider>
  <p style="margin-right: 30px;">{{ service.selecedInstance?.homePageUrl}}</p>
  <nz-divider nzText="刷新项" nzOrientation="left" [nzDashed]="true"></nz-divider>
  <div>
    <nz-checkbox-group [(ngModel)]="config.lists"></nz-checkbox-group>
  </div>
  <div *ngIf="config.result">
    <ng-container *ngIf="config.result.config">
      <nz-divider nzText="配置文件结果" nzOrientation="left" [nzDashed]="true"></nz-divider>
      <code style="margin-right: 30px;">{{ config.result.config | json}}</code>
    </ng-container>
    <ng-container *ngIf="config.result.i18n">
      <nz-divider nzText="国际化刷新结果" nzOrientation="left" [nzDashed]="true"></nz-divider>
      <code style="margin-right: 30px;">{{ config.result.i18n | json}}</code>
    </ng-container>
  </div>
</nz-modal>
