<section style="text-align: center">
  <div nz-row>
    <div nz-col nzSpan="8">{{name}}</div>
    <div nz-col nzSpan="8">
      <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control>
            <nz-input-group [nzPrefix]="prefixUser">
              <input type="text" nz-input formControlName="userName" name="name" placeholder="Username"/>
            </nz-input-group>
            <nz-form-explain *ngIf="validateForm.get('userName')?.dirty && validateForm.get('userName')?.errors"
            >Please input your username!</nz-form-explain
            >
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group [nzPrefix]="prefixLock">
              <input type="password" nz-input formControlName="password" name="password"  placeholder="Password"/>
            </nz-input-group>
            <nz-form-explain *ngIf="validateForm.get('password')?.dirty && validateForm.get('password')?.errors"
            >Please input your Password!</nz-form-explain
            >
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <label nz-checkbox formControlName="remember">
              <span>Remember me</span>
            </label>
            <a class="login-form-forgot" class="login-form-forgot">Forgot password</a>
            <button nz-button class="login-form-button" [nzType]="'primary'" (click)="submit()">Log in</button>
            Or
            <a href="">register now!</a>
          </nz-form-control>
        </nz-form-item>
      </form>
      <ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
      <ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
    </div>
    <div nz-col nzSpan="8">{{pwd}}</div>
  </div>


  <nz-table #basicTable [nzData]="lists">
    <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Address</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{data.creater}}</td>
      <td>{{data.beginTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
      <td>{{data.title}}</td>
      <td>
        <a (click)="update(data)">update</a>
      </td>
    </tr>
    </tbody>
  </nz-table>
</section>
