<nz-layout class="layout">
  <nz-header class="demos-header">
    <div class="demos-logo"><a [routerLink]="['/dev-center']">
      <img src="assets/imgs/logo/logo.png" style="width: 160px;"></a></div>
    <ul nz-menu [nzMode]="'horizontal'" style="line-height: 64px;">
      <li class="f-s-18"> {{systembase?.name}}系统的国际化配置中心</li>
    </ul>
  </nz-header>

  <nz-layout>

    <nz-sider [nzWidth]="leftWidth" style="background:#fff;overflow-x: auto;padding:10px 0px 0px 30px;">
      <div>
        <p class="text-primary f-s-20">属性配置</p>
      </div>


      <!--<nz-tree-->
      <!--[nzData]="nodes"-->
      <!--nzShowLine="true"-->
      <!--(nzClick)="nzEvent($event)">-->
      <!--</nz-tree>-->

      <nz-tree
        #treeCom
        [nzData]="nodes"
        nzMultiple="true"
        (nzClick)="nzEvent($event)"
        (nzDblClick)="onDbClickTree($event)">
        <ng-template #contextTemplate>
          <ul nz-menu nzInDropDown style="border: 1px solid #d4d4d4">
            <li nz-menu-item (click)="open('addNode')">新建节点</li>
            <li nz-menu-item (click)="open('addNode')">新建属性</li>
          </ul>
        </ng-template>
        <ng-template #nzTreeTemplate let-node>
        <span class="tree-node" [class.tree-active]="selecedNode?.id == node.key">
          <span *ngIf="node.origin && node.origin.type == 'node' "
                class="f-s-18"
                (contextmenu)="contextMenu($event,contextTemplate)">
            <i nz-icon [type]="node.isExpanded ? 'folder-open' : 'folder'" class="text-warning" theme="fill"
               (click)="openFolder(node)"></i>
            <span class="folder-name m-l-5">{{node.title}}</span>
            <span class="folder-desc"></span>
          </span>
          <span *ngIf="node.origin && node.origin.type == 'attr'" class="f-s-16">
            <i nz-icon type="tag"></i>
            <span class="file-name m-l-5">{{node.title}}</span>
            <span class="file-desc"></span>
          </span>
        </span>
        </ng-template>
      </nz-tree>


    </nz-sider>

    <nz-layout style="padding:20px;">

      <nz-breadcrumb class="p-b-15 f-s-16">
        <nz-breadcrumb-item>
          主页
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a [routerLink]="['/dev-center/default']">项目开发</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a [routerLink]="['/dev-center/system/details']" [queryParams]="{systemId: systembase?.id}">
            {{systembase?.name}}</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          国际化配置
        </nz-breadcrumb-item>
      </nz-breadcrumb>

      <nz-content class="demos-body">
        <nz-layout>
          <nz-layout style="padding-left: 20px;">
            <nz-content class="i18n-body">
              <div>
                <p class="text-primary f-s-20">语言配置</p>
                <p><span class="text-primary f-s-16 m-r-20">系统Id : </span>1</p>
                <p><span class="text-primary f-s-16 m-r-20">属性Id : </span>{{selecedNode?.id}} </p>
                <p><span class="text-primary f-s-16 m-r-20">属性Name : </span>{{selecedNodeName}}</p>
              </div>
              <div nz-row nzType="flex" nzJustify="start" class="m-b-15">
                <div nz-col nzSpan="3" *ngIf="isAddNode">
                  <button nz-button nzType="primary" (click)="open('addNode')">新增属性</button>
                </div>
                <div nz-col nzSpan="3" *ngIf="isAddNode">
                  <button nz-button nzType="primary" (click)="open('editNode')">修改属性</button>
                </div>
                <div nz-col nzSpan="3" *ngIf="isDeleteNode">
                  <button nz-button nzType="danger" (click)="onClickDeleteNode()">删除属性</button>
                </div>
                <div nz-col nzSpan="3" *ngIf="isAddLang">
                  <button nz-button nzType="primary" (click)="open('addValue')">新增语言</button>
                </div>
              </div>
              <nz-spin [nzSpinning]="isLoading" [nzDelay]="100">
                <nz-table #langsTable [nzData]="values" [nzPageSize]="3" [nzNoResult]="'暂无数据'">
                  <thead>
                  <tr>
                    <th>
                      国家/地区（语言代码）
                    </th>
                    <th>语言对应的值</th>
                    <th>创建时间</th>
                    <th>最后修改时间</th>
                    <th>操作</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of values">
                    <td>{{item.remark}}
                      <nz-tag [nzColor]="'#2db7f5'">{{item.lang}}</nz-tag>
                    </td>
                    <td>{{item.value}}</td>
                    <td>{{item.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>{{item.lastModifyTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>
                      <a (click)="onClickEditValue(item)">修改</a>
                    </td>
                  </tr>
                  </tbody>
                </nz-table>
              </nz-spin>
            </nz-content>
          </nz-layout>
        </nz-layout>
      </nz-content>
      <nz-footer style="text-align: center;">中國人壽（海外）股份有限公司 @2018年版权所有</nz-footer>
    </nz-layout>


  </nz-layout>


  <nz-drawer [nzClosable]="true" [nzWidth]="540" [nzVisible]="visible" nzPlacement="right" [nzTitle]="drawerTitle"
             (nzOnClose)="close()">

    <div *ngIf="drawerType == 'addNode'">
      <div>
        <form nz-form [formGroup]="addNodeValidateForm">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired class="p-r-20">
          <span>
            类型
          </span>
            </nz-form-label>
            <nz-form-control [nzSm]="16" [nzXs]="24">
              <nz-select nzAllowClear nzPlaceHolder="请选择系统" formControlName="type">
                <nz-option [nzValue]="'node'" [nzLabel]="'节点'"></nz-option>
                <nz-option [nzValue]="'attr'" [nzLabel]="'属性'"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired class="p-r-20">
          <span>
            名称
          </span>
            </nz-form-label>
            <nz-form-control [nzSm]="16" [nzXs]="24">
              <input nz-input formControlName="name">
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired class="p-r-20">
          <span>
            代码
          </span>
            </nz-form-label>
            <nz-form-control [nzSm]="16" [nzXs]="24">
              <input nz-input formControlName="code">
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>

      <div class="footer">
        <div nz-col nzSpan="24">
          <button nz-button nzType="primary" nzBlock (click)="onClickAddNode()">确定</button>
        </div>
      </div>
    </div>

    <div *ngIf="drawerType == 'addNode'">

    </div>


    <div *ngIf="drawerType == 'addValue'">
      <div>
        <form nz-form [formGroup]="addValueValidateForm">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired class="p-r-20">
          <span>
            类型
          </span>
            </nz-form-label>
            <nz-form-control [nzSm]="16" [nzXs]="24">
              <nz-select nzAllowClear nzPlaceHolder="请选择语言类型" formControlName="localeId">
                <nz-option *ngFor="let item of locales" [nzValue]="item.id"
                           [nzLabel]="item.remark"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired class="p-r-20">
          <span>
            属性值
          </span>
            </nz-form-label>
            <nz-form-control [nzSm]="16" [nzXs]="24">
              <input nz-input formControlName="value">
            </nz-form-control>
          </nz-form-item>

        </form>
      </div>

      <div class="footer">
        <div nz-col nzSpan="24">
          <button nz-button nzType="primary" nzBlock (click)="onClickAddValue()">确定</button>
        </div>
      </div>
    </div>

    <div *ngIf="drawerType == 'editValue'">
      <div>
        <textarea rows="4" nz-input [(ngModel)]="selecedValue.value"></textarea>
      </div>
      <div class="footer">
        <div nz-col nzSpan="24">
          <button nz-button nzType="primary" nzBlock (click)="close()">确定</button>
        </div>
      </div>
    </div>


  </nz-drawer>
