<nz-layout class="layout theme-no1">
  <nz-header class="theme-header">
    <div class="theme-logo"><a><img src="assets/imgs/logo/logo.png" style="width: 160px;margin-bottom: 10px;"></a></div>
    <div style="float: left;">
      <i class="cursor-pointer text-primary f-s-24" nz-icon type="bars" theme="outline" (click)="toggleCollapsed()"></i>
    </div>
    <div style="position: absolute;right: 50px;">
      <nz-dropdown style="margin-right: 50px;" [nzPlacement]="'bottomRight'">
        <a nz-dropdown>
          <nz-badge nzDot class="f-s-22"><i nz-icon type="bell" theme="outline"></i></nz-badge>
        </a>
        <ul nz-menu nzSelectable>
          <li nz-menu-item style="height: 40px;line-height: 40px;">
            <a>收到來自賈舟的消息<span class="text-muted m-l-20">1小時前</span></a>
          </li>
          <li nz-menu-item style="height: 40px;line-height: 40px;">
            <a>收到來自尹心剛的消息<span class="text-muted m-l-20">2小時前</span></a>
          </li>
          <li nz-menu-item style="height: 40px;line-height: 40px;">
            <a>收到來自陳鐘藝的消息<span class="text-muted m-l-20">3小時前</span></a>
          </li>
          <li nz-menu-item style="height: 40px;line-height: 40px;">
            <a>收到來自譚世聰的消息<span class="text-muted m-l-20">4小時前</span></a>
          </li>
          <li nz-menu-item style="height: 40px;line-height: 40px;">
            <a>收到來自周至瑤的消息<span class="text-muted m-l-20">5小時前</span></a>
          </li>
          <li nz-menu-item style="height: 40px;line-height: 40px;text-align: center;">
            <a class="text-primary">更多</a>
          </li>
        </ul>
      </nz-dropdown>

      <nz-dropdown style="margin-right: 50px;" [nzPlacement]="'bottomRight'">
        <a nz-dropdown>
          <nz-badge [nzCount]="3" class="f-s-22"><i nz-icon type="mail" theme="outline"></i></nz-badge>
        </a>
        <ul nz-menu nzSelectable>
          <li nz-menu-item style="height: 40px;line-height: 40px;">
            <a>收到來自賈舟的郵件<span class="text-muted m-l-20">1小時前</span></a>
          </li>
          <li nz-menu-item style="height: 40px;line-height: 40px;">
            <a>收到來自尹心剛的郵件<span class="text-muted m-l-20">2小時前</span></a>
          </li>
          <li nz-menu-item style="height: 40px;line-height: 40px;">
            <a>收到來自陳鐘藝的郵件<span class="text-muted m-l-20">3小時前</span></a>
          </li>
          <li nz-menu-item style="height: 40px;line-height: 40px;">
            <a>收到來自譚世聰的郵件<span class="text-muted m-l-20">4小時前</span></a>
          </li>
          <li nz-menu-item style="height: 40px;line-height: 40px;">
            <a>收到來自周至瑤的郵件<span class="text-muted m-l-20">5小時前</span></a>
          </li>
          <li nz-menu-item style="height: 40px;line-height: 40px;text-align: center;">
            <a class="text-primary">更多</a>
          </li>
        </ul>
      </nz-dropdown>

      <nz-dropdown style="margin-right: 50px;" [nzPlacement]="'bottomRight'">
        <a nz-dropdown class="f-s-22">
          <nz-badge nzDot><img src="assets/imgs/user/jiazhou-logo.jpg"
                               style="border-radius: 50%;width: 36px;height: 36px;"></nz-badge>
        </a>
        <ul nz-menu nzSelectable>
          <li nz-menu-item style="height: 40px;line-height: 40px;">
            <a><i nz-icon type="bell" theme="outline" class="m-r-20"></i>我的消息 </a>
          </li>
          <li nz-menu-item style="height: 40px;line-height: 40px;">
            <a><i nz-icon type="mail" theme="outline" class="m-r-20"></i>我的郵件</a>
          </li>
          <li nz-menu-item style="height: 40px;line-height: 40px;">
            <a>我的信息<i nz-icon type="info-circle" theme="outline" class="m-l-20"></i></a>
          </li>
          <li nz-menu-item style="height: 40px;line-height: 40px;">
            <a>註銷用戶<i nz-icon type="logout" theme="outline" class="m-l-20"></i></a>
          </li>
        </ul>
      </nz-dropdown>

      <nz-select style="width: 100px;" nzPlaceHolder="中文简体" nzSize="small">
        <nz-option nzValue="1" nzLabel="中文简体"></nz-option>
        <nz-option nzValue="2" nzLabel="中文繁體"></nz-option>
        <nz-option nzValue="3" nzLabel="English"></nz-option>
      </nz-select>
    </div>
  </nz-header>

  <nz-layout>
    <nz-sider class="theme-left" [nzWidth]="themeLeftWidth">
      <ul nz-menu [nzMode]="'inline'" nzTheme="light" class="left-tree" [nzInlineCollapsed]="isCollapsed">
        <li nz-submenu [nzOpen]="true">
          <span title><i nz-icon type="line-chart" theme="outline" class="text-warning"
                         style="font-size: 16px !important;"></i> <span
            class="f-s-16">銷售管理</span></span>
          <ul>
            <li nz-menu-item [nzSelected]="true"> 訂單查詢</li>
            <li nz-menu-item> 套餐查詢</li>
            <li nz-menu-item> 客戶管理</li>
          </ul>
        </li>
        <li nz-submenu>
          <span title><i nz-icon type="solution" theme="outline" class="text-primary"
                         style="font-size: 16px !important;"></i><span
            class="f-s-16">核保管理</span></span>
          <ul>
            <li nz-menu-item> 核保審核</li>
            <li nz-menu-item> 核保查詢</li>
            <li nz-menu-item> 經辦管理</li>
          </ul>
        </li>
        <li nz-submenu>
          <span title><i nz-icon type="idcard" theme="outline" class="text-info"
                         style="font-size: 16px !important;"></i>  <span
            class="f-s-16">經辦管理</span></span>
          <ul>
            <li nz-menu-item> 新增代理</li>
            <li nz-menu-item> 代理查詢</li>
            <li nz-menu-item> 佣金查詢</li>
          </ul>
        </li>
      </ul>

    </nz-sider>

    <nz-content class="theme-body">
      <p style="height: 500px;line-height: 500px;font-size: 50px;color: #c0c2c3;text-align: center;">
        工作空間
      </p>
    </nz-content>
  </nz-layout>


  <nz-footer class="theme-footer">
    <p class="text-center">
      中國人壽保險(海外)股份有限公司 (於中華人民共和國註冊成立之股份有限公司) © 2019 版權所有
    </p>
  </nz-footer>

</nz-layout>
