<nz-layout class="layout">
  <nz-header class="theme-header-1">
    <div class="theme-header-logo">
      <a [routerLink]="['/dev-center']"><img src="assets/imgs/logo/logo.png" style="width: 160px;"></a>
    </div>
    <ul nz-menu [nzMode]="'horizontal'" style="line-height: 64px;">
      <li> {{systembase?.name}}系统维护后台管理</li>
    </ul>
  </nz-header>

  <nz-layout>
    <nz-content style="background-color: #ffffff;padding: 50px;">
      <nz-breadcrumb class="p-b-15 f-s-16">
        <nz-breadcrumb-item>
          主页
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a [routerLink]="['/dev-center/default']">项目开发</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a [routerLink]="['/dev-center/system/details']" [queryParams]="{systemId: systembase?.id}">
            {{systembase?.name}}</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          系统维护配置
        </nz-breadcrumb-item>
      </nz-breadcrumb>

      <nz-table #basicTable [nzData]="maintenances">
        <thead>
        <tr>
          <th>域名</th>
          <th>路径</th>
          <th>标题</th>
          <th>开始时间</th>
          <th>结束时间</th>
          <th>创建人</th>
          <th>状态</th>
          <th>最后修改时间</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of basicTable.data">
          <td>{{systembase?.domain}}</td>
          <td>{{item.location}}</td>
          <td>{{item.title}}</td>
          <td>{{item.beginTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td>{{item.endTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td>{{item.creater}}</td>
          <td>
            <span nz-tooltip nzTitle="未开始" *ngIf="item.status == 0">
              <i nz-icon type="clock-circle" theme="outline" class="text-warning f-s-20"></i></span>
            <span nz-tooltip nzTitle="进行中" *ngIf="item.status == 1">
              <i nz-icon type="hourglass" theme="outline" class="text-danger f-s-20" [spin]="true"></i></span>
            <span nz-tooltip nzTitle="已结束" *ngIf="item.status == 2">
              <i nz-icon type="check-circle" theme="outline" class="text-success f-s-20"></i></span>
          </td>
          <td>{{item.lastModifyTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td>
            <a nz-popconfirm nzTitle="你确定要提前结束?" (nzOnConfirm)="endMaintenanceConfirm(item)"
               nzPlacement="left">结束</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a class="text-muted">修改</a>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="9" class="m-plus">

            <i nz-icon type="plus-circle" theme="outline"
               nz-popover
               nzPlacement="rightBottom"
               nzTitle="新建"
               nzContent="新建后系统将提示正在发布(仅管理员可操作)" (click)="addOpen()"></i></td>
        </tr>
        </tfoot>
      </nz-table>


    </nz-content>
  </nz-layout>


</nz-layout>


<nz-drawer [nzVisible]="addVisible" [nzTitle]="'新建Maintenance'" [nzWidth]="540" [nzClosable]="true"
           (nzOnClose)="addClose()">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" *ngIf="addVisible">

    <nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" class="add-m-label">
          <span>
            系统名称
          </span>
        </nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          {{systembase?.name}}
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" class="add-m-label">
          <span>
            系统域名
          </span>
        </nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          {{systembase?.domain}}
        </nz-form-control>
      </nz-form-item>


      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired class="add-m-label">
          <span>
            创建人
          </span>
      </nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <input nz-input formControlName="creater">
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired class="add-m-label">
          <span>
            路径
             <i nz-icon nz-tooltip nzTitle="'/' 或 '' 代表拦截整个域名" type="question-circle" theme="outline"></i>
          </span>
      </nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
          <input formControlName="location" nz-input>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired class="add-m-label">
          <span>
            标题
            <i nz-icon nz-tooltip nzTitle="标题" type="question-circle" theme="outline"></i>
          </span>
      </nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <input nz-input formControlName="title">
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired class="add-m-label">
          <span>
            内容
            <i nz-icon nz-tooltip nzTitle="内容" type="question-circle" theme="outline"></i>
          </span>
      </nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <textarea formControlName="content" nz-input rows="2" placeholder=""></textarea>
      </nz-form-control>
    </nz-form-item>


    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired class="add-m-label">选择时间</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <nz-range-picker nzShowTime formControlName="rangePickerTime"></nz-range-picker>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 16, offset: 8 }">
        <button nz-button nzType="primary">提交</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-drawer>
