$bg-color: #f3f3f3;
$bg-white-color: #FFFFFF;
$boder-color: rgba(204, 204, 204, 0.35);

$primary-color: #4099ff;
$warning-color: #FFB64D;
$default-color: #d6d6d6;
$danger-color: #FF5370;
$success-color: #2ed8b6;
$inverse-color: #222;
$info-color: #00bcd4;
$disabled-color: #4099ff;
$white-txt: #FFFFFF;
$theme-border: #d6d6d6;
$gray-color:#919aa3;
$light-color: #666;


